<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="theme.css">
        <link rel="stylesheet" type="text/css" href="alignment.css">
        <link rel="stylesheet" type="text/css" href="home.css">
        <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">    
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    </head>
    <body>
        <div class="navi">
            <a href="/" class="content">Home</a>
            <a href="menu" class="content">Menu</a>
            <a href="about" class="content">About</a>
            <a href="/" class="content">Contact Us</a>
        </div>
        <div class="focal-point">
            <img src="homepage-focal-point.jpg"/>
            <div class="overlay">
                 <a href="/menu">Menu</a>
                
            </div>
        </div>
        <div class="footer">
            <div class="column">
                <div class="header">
                    Locations
                </div>
                <div class="content">
                    <div>
                        111 Main St. Example City, NJ 11111 
                    </div>
                    <div>
                        Hours: 9AM to 10PM 
                    </div>
                    <div>
                        (111)-111-1111 
                    </div>
                </div>
                <div class="content">
                    <div>
                        222 Main St. Example City, NJ 22222 
                    </div>
                    <div>
                        Hours: 9AM to 10PM 
                    </div>
                    <div>
                        (222)-222-2222 
                    </div>
                </div>
                <div class="content">
                    <div>
                        333 Main St. Example City, NJ 33333 
                    </div>
                    <div>
                        Hours: 9AM to 10PM 
                    </div>
                    <div>
                        (333)-333-3333 
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="header">
                    Social Media
                </div>
                <div class="content">
                    Facebook: @Example
                </div>
                <div class="content">
                    Instagram: @Example
                </div>
                <div class="content">
                    Snapchat: @Example
                </div>
            </div>
        </div>
    </body>
</html>