<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" type="text/css" href="theme.css">
        <link rel="stylesheet" type="text/css" href="alignment.css">
        <link rel="stylesheet" type="text/css" href="home.css">
        <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">    
    </head>
    <body>
        <div class="navi test-border full-width">
            <div class="content">Home</div>
            <div class="content">Menu</div>
            <div class="content">About</div>
            <div class="content">Contact Us</div>
        </div>
        <div class="focal-point full-width">
            <img src="homepage-focal-point.jpg"/>
            <div class="overlay">
                Menu
            </div>
        </div>
        <h1>Homepage</h1>
    </body>
</html>