<html>

<head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <link rel="stylesheet" type="text/css" href="alignment.css">
    <link rel="stylesheet" type="text/css" href="menu.css">
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script><!-- online jquery.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.min.js"></script><!-- online handlebars.js-->

</head>

<body>
    <div class="navi">
        <a href="/" class="content">Home</a>
        <a href="menu" class="content">Menu</a>
        <a href="about" class="content">About</a>
        <a href="/" class="content">Contact Us</a>
    </div>
    <div class="menu-header">
        ~ Menu ~
    </div>
    <div class="menu">
        <div class="column">
            <div class="product">
                <img src="americano-square.jpg">
                <div class="content">
                    <p class="product-name">
                        Americano
                    </p>
                    <p>
                        Small: $2
                    </p>
                    <p>
                        Medium: $3
                    </p>
                    <p>
                        Large: $4
                    </p>
                </div>
            </div>
            <div class="product">
                <img src="icecoffee-square.jpg">
                <div class="content">
                    <p class="product-name">
                        Ice-Coffee
                    </p>
                    <p>
                        Small: $2
                    </p>
                    <p>
                        Medium: $3
                    </p>
                    <p>
                        Large: $4
                    </p>
                </div>
            </div>
            <div class="product">
                <img src="latte-square.png">
                <div class="content">
                    <p class="product-name">
                        Latte
                    </p>
                    <p>
                        Small: $2
                    </p>
                    <p>
                        Medium: $3
                    </p>
                    <p>
                        Large: $4
                    </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="product">
                <img src="matcha-latte-square.jpg">
                <div class="content">
                    <p class="product-name">
                        Matcha Latte
                    </p>
                    <p>
                        Small: $2
                    </p>
                    <p>
                        Medium: $3
                    </p>
                    <p>
                        Large: $4
                    </p>
                </div>
            </div>
            <div class="product">
                <img src="pumpkin-spice-latte-square.jpg">
                <div class="content">
                    <p class="product-name">
                        Pumpkin Spirce Latte
                    </p>
                    <p>
                        Small: $2
                    </p>
                    <p>
                        Medium: $3
                    </p>
                    <p>
                        Large: $4
                    </p>
                </div>
            </div>
            <div class="product">
                <img src="smores-coffee-square.jpg">
                <div class="content">
                    <p class="product-name">
                        Smores Coffee
                    </p>
                    <p>
                        Small: $2
                    </p>
                    <p>
                        Medium: $3
                    </p>
                    <p>
                        Large: $4
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="column">
            <div class="header">
                Locations
            </div>
                {{#each locations}}
                <div class="content">
                    <div>
                        {{address}}
                    </div>
                    <div>
                        {{hours}}
                    </div>
                    <div>
                        {{phone}}
                    </div>
                </div>
                {{/each}}
        </div>
        <div class="column">
            <div class="header">
                Social Media
            </div>
            <div class="content">
                Facebook: @Example
            </div>
            <div class="content">
                Instagram: @Example
            </div>
            <div class="content">
                Snapchat: @Example
            </div>
        </div>
    </div>
    <script>
        //4a.function creation
        var slingshot = function (url, tplId, anchor) {
            $.getJSON(url, function (data) {
                var template = $(tplId).html();
                var stone = Handlebars.compile(template)(data);
                $(anchor).append(stone);
            });
        }
        //4b.function firing
        slingshot('theme.json', '#tpl', '#anchor'); // since url = 'data.json' , we can use both notations.
    </script>
</body>

</html>